res/Tools/OPDS/schema/1.2/combined.xsd.old

<?xml version="1.0" encoding="UTF-8"?>
<!--
  -*- rnc -*- 
  RELAX NG Compact Syntax Grammar for OPDS Catalog Feed & Entry Documents
  Version 2018-08-16
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://opds-spec.org/2010/catalog" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:opds="http://opds-spec.org/2010/catalog" xmlns:atom="http://www.w3.org/2005/Atom">
  <xs:attribute name="lang" type="atom:atomLanguageTag"/>
  <xs:element name="div" substitutionGroup="atom:atomXHTMLTextConstruct"/>
  <!-- Common attributes -->
  <xs:attributeGroup name="atomCommonAttributes">
    <xs:attribute ref="xml:base"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attributeGroup ref="opds:undefinedAttribute"/>
  </xs:attributeGroup>
  <!-- Text Constructs -->
  <xs:attributeGroup name="atomPlainTextConstruct">
    <xs:attributeGroup ref="atom:atomCommonAttributes"/>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="text"/>
          <xs:enumeration value="html"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="atomXHTMLTextConstruct" abstract="true">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="atom:anyXHTML"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="atomXHTMLTextConstruct">
    <xs:attributeGroup ref="atom:atomCommonAttributes"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="xhtml"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="atomTextConstruct" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" ref="atom:atomXHTMLTextConstruct"/>
    </xs:sequence>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="text"/>
          <xs:enumeration value="html"/>
          <xs:enumeration value="xhtml"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="atom:atomCommonAttributes"/>
  </xs:complexType>
  <!-- Person Construct -->
  <xs:complexType name="atomPersonConstruct">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="atom:name"/>
      <xs:element ref="atom:uri"/>
      <xs:element ref="atom:email"/>
      <xs:group ref="atom:extensionElement"/>
    </xs:choice>
    <xs:attributeGroup ref="atom:atomCommonAttributes"/>
  </xs:complexType>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="uri" type="opds:atomUri"/>
  <xs:element name="email" type="atom:atomEmailAddress"/>
  <!-- Date Construct -->
  <xs:complexType name="atomDateConstruct">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attributeGroup ref="atom:atomCommonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <!-- atom:feed -->
  <xs:element name="feed">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="atom:author"/>
          <xs:element ref="atom:category"/>
          <xs:element ref="atom:contributor"/>
          <xs:element ref="atom:generator"/>
          <xs:element ref="atom:icon"/>
          <xs:element ref="atom:id"/>
          <xs:element ref="atom:link"/>
          <xs:element ref="atom:logo"/>
          <xs:element ref="atom:rights"/>
          <xs:element ref="atom:subtitle"/>
          <xs:element ref="atom:title"/>
          <xs:element ref="atom:updated"/>
          <xs:group ref="atom:extensionElement"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="atom:entry"/>
      </xs:sequence>
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
    </xs:complexType>
  </xs:element>
  <!-- atom:entry -->
  <xs:element name="entry">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="atom:author"/>
        <xs:element ref="atom:category"/>
        <xs:group ref="atom:atomContent"/>
        <xs:element ref="atom:contributor"/>
        <xs:element ref="atom:id"/>
        <xs:element ref="atom:link"/>
        <xs:element ref="atom:published"/>
        <xs:element ref="atom:rights"/>
        <xs:element ref="atom:source"/>
        <xs:element ref="atom:summary"/>
        <xs:element ref="atom:title"/>
        <xs:element ref="atom:updated"/>
        <xs:group ref="atom:extensionElement"/>
      </xs:choice>
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
    </xs:complexType>
  </xs:element>
  <!-- atom:content -->
  <xs:group name="atomInlineTextContent">
    <xs:sequence>
      <xs:element name="content">
        <xs:complexType mixed="true">
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="text"/>
                <xs:enumeration value="html"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="atomInlineXHTMLContent">
    <xs:sequence>
      <xs:element name="content">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="xhtml:div"/>
          </xs:sequence>
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="xhtml"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="atomInlineOtherContent">
    <xs:sequence>
      <xs:element name="content">
        <xs:complexType mixed="true">
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="atom:anyElement"/>
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
          <xs:attribute name="type" type="atom:atomMediaType"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="atomOutOfLineContent">
    <xs:sequence>
      <xs:element name="content">
        <xs:complexType>
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
          <xs:attribute name="type" type="atom:atomMediaType"/>
          <xs:attribute name="src" use="required" type="opds:atomUri"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="atomContent">
    <xs:choice>
      <xs:group ref="atom:atomInlineTextContent"/>
      <xs:group ref="atom:atomInlineXHTMLContent"/>
      <xs:group ref="atom:atomInlineOtherContent"/>
      <xs:group ref="atom:atomOutOfLineContent"/>
    </xs:choice>
  </xs:group>
  <!-- atom:author -->
  <xs:element name="author" type="atom:atomPersonConstruct"/>
  <!-- atom:category -->
  <xs:element name="category">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="atom:undefinedContent">
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
          <xs:attribute name="term" use="required"/>
          <xs:attribute name="scheme" type="opds:atomUri"/>
          <xs:attribute name="label"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- atom:contributor -->
  <xs:element name="contributor" type="atom:atomPersonConstruct"/>
  <!-- atom:generator -->
  <xs:element name="generator">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
      <xs:attribute name="uri" type="opds:atomUri"/>
      <xs:attribute name="version"/>
    </xs:complexType>
  </xs:element>
  <!-- atom:icon -->
  <xs:element name="icon">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="opds:atomUri">
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <!-- atom:id -->
  <xs:element name="id">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="opds:atomUri">
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <!-- atom:logo -->
  <xs:element name="logo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="opds:atomUri">
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <!-- atom:link -->
  <!-- atom:published -->
  <xs:element name="published" type="atom:atomDateConstruct"/>
  <!-- atom:rights -->
  <xs:element name="rights" type="atom:atomTextConstruct"/>
  <!-- atom:source -->
  <xs:element name="source">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="atom:author"/>
        <xs:element ref="atom:category"/>
        <xs:element ref="atom:contributor"/>
        <xs:element ref="atom:generator"/>
        <xs:element ref="atom:icon"/>
        <xs:element ref="atom:id"/>
        <xs:element ref="atom:link"/>
        <xs:element ref="atom:logo"/>
        <xs:element ref="atom:rights"/>
        <xs:element ref="atom:subtitle"/>
        <xs:element ref="atom:title"/>
        <xs:element ref="atom:updated"/>
        <xs:group ref="atom:extensionElement"/>
      </xs:choice>
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
    </xs:complexType>
  </xs:element>
  <!-- atom:subtitle -->
  <xs:element name="subtitle" type="atom:atomTextConstruct"/>
  <!-- atom:summary -->
  <!-- atom:title -->
  <xs:element name="title" type="atom:atomTextConstruct"/>
  <!-- atom:updated -->
  <xs:element name="updated" type="atom:atomDateConstruct"/>
  <!-- Low-level simple types -->
  <xs:simpleType name="atomNCName">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:pattern value="[^:]*"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Whatever a media type is, it contains at least one slash -->
  <xs:simpleType name="atomMediaType">
    <xs:restriction base="xs:string">
      <xs:pattern value=".+/.+"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- As defined in RFC 3066 -->
  <xs:simpleType name="atomLanguageTag">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z]{1,8}(-[A-Za-z0-9]{1,8})*"/>
    </xs:restriction>
  </xs:simpleType>
  <!--
    Unconstrained; it's not entirely clear how IRI fit into
    xsd:anyURI so let's not try to constrain it here
  -->
  <!-- Whatever an email address is, it contains at least one @ -->
  <xs:simpleType name="atomEmailAddress">
    <xs:restriction base="xs:string">
      <xs:pattern value=".+@.+"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Simple Extension -->
  <xs:group name="simpleExtensionElement">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <!-- Structured Extension -->
  <xs:group name="structuredExtensionElement">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <!-- Other Extensibility -->
  <xs:group name="extensionElement">
    <xs:choice>
      <xs:group ref="atom:simpleExtensionElement"/>
      <xs:group ref="atom:structuredExtensionElement"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="undefinedContent" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="atom:anyForeignElement"/>
  </xs:complexType>
  <xs:group name="anyElement">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="anyForeignElement">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <!-- XHTML -->
  <xs:group name="anyXHTML">
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="link">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element maxOccurs="unbounded" ref="opds:price"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="opds:price"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="opds:indirectAcquisition"/>
          <xs:group ref="opds:anyOPDSForeignElement"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
      <xs:attribute name="href" use="required" type="opds:atomUri"/>
      <xs:attribute name="type" type="atom:atomMediaType"/>
      <xs:attribute name="hreflang" type="atom:atomLanguageTag"/>
      <xs:attribute name="title"/>
      <xs:attribute name="length"/>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:union memberTypes="opds:OPDSUrisExceptBuy">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="http://opds-spec.org/facet"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="http://opds-spec.org/acquisition/buy"/>
              </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
              <xs:union memberTypes="atom:atomNCName opds:atomUriExceptOPDS"/>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="opds:facetGroup"/>
      <xs:attribute ref="opds:activeFacet"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="summary">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="text"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!--
    The OPDS Catalog spec extends Atom (RFC4287), and the additions require some
    patterns not used in the Atom schema. The first is atomUriExceptOPDS, which
    is used to describe an atomLink whose rel value is an atomNCName (no-colon
    name) or any URI other than these from OPDS Catalogs. In these cases, no
    opds:price element should appear.
  -->
  <xs:simpleType name="atomUriExceptOPDS">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <!--
    Next is OPDSUrisExceptBuy, which is used to describe an atomLink whose
    rel value is from OPDS Catalogs but is not ".../acquisition/buy". In such
    cases, an opds:price element is optional.
  -->
  <xs:simpleType name="OPDSUrisExceptBuy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="http://opds-spec.org/acquisition/borrow"/>
      <xs:enumeration value="http://opds-spec.org/acquisition/subscribe"/>
      <xs:enumeration value="http://opds-spec.org/acquisition/sample"/>
      <xs:enumeration value="preview"/>
    </xs:restriction>
  </xs:simpleType>
  <!--
    To simplify OPDS Catalog validation, we do not use Schematron to assert that
    any atom:link with a rel value of ".../acquisition/buy" must be accompanied
    by one or more opds:price elements.
    Instead we rely on Relax NG to describe one of three situations:
    - the rel value is ".../acquisition/buy" and at least one opds:price element
      is required
    - the rel value is ".../acquisition/borrow" or ".../acquisition/subscribe" or
      ".../acquisition/sample", in case opds:price elements may be
      included; or
    - the value of the rel attribute is any other URI or an Atom-defined no-colon
      name, and no opds:price element is permitted
  -->
  <!--
    Note that this OPDS Catalog schema includes atom.rnc, so that schema must be
    present for validation.
    
    Note also that atom.rnc defines atomUri as text and not as xsd:anyURI, and so
    wherever the Atom spec requires an IRI, the schema will not check the value
    against any URI pattern or logic. The OPDS Catalog schema overrides atom.rnc
    to provide a relatively accurate test. With the approval of XSD 1.1, the
    schema definition should change to xsd:anyURI to match what the spec text
    says.
  -->
  <xs:attributeGroup name="undefinedAttribute">
    <xs:anyAttribute namespace="##other" processContents="skip"/>
  </xs:attributeGroup>
  <!--
    Here is where OPDS Catalogs use John Cowan's pragmatic evaluation of an
    IRI. This modifies xsd:anyURI in XSD 1.0 to exclude ASCII characters not
    valid in 1.1 or IRI's without being escaped. This matches the OPDS and Atom
    specs, but not the non-normative atom.rnc.
  -->
  <xs:simpleType name="atomUri">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <!--
    Here we override Atom to account for HTML abuse in the summary element,
    restricting it in OPDS Catalog to text:
  -->
  <xs:group name="anyOPDSForeignElement">
    <xs:sequence>
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:group>
  <!--
    An opds:indirectAcquisition should use strictly MIME media type for
    its type attribute
  -->
  <xs:element name="indirectAcquisition">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="opds:anyOPDSForeignElement"/>
        <xs:element ref="opds:indirectAcquisition"/>
      </xs:choice>
      <xs:attributeGroup ref="atom:atomCommonAttributes"/>
      <xs:attribute name="type" use="required" type="atom:atomMediaType"/>
    </xs:complexType>
  </xs:element>
  <!--
    An opds:price element should not contain a currency symbol; it is
    restricted to non-negative decimal numbers.
  -->
  <xs:element name="price">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0.0"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:attributeGroup ref="atom:atomCommonAttributes"/>
          <xs:attribute name="currencycode" use="required" type="opds:opdsPriceCurrencyCode"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <!--
    Instead of allowing every possible 3-letter combination as a currency
    code, here the permissible codes (as identified in ISO4217 as of
    2018-08-16) are enumerated. Code for metals and 3-digit equivalents are
    excluded from this list. 
  -->
  <xs:simpleType name="opdsPriceCurrencyCode">
    <xs:restriction base="xs:token">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYN"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHE"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CHW"/>
      <xs:enumeration value="CLF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="COU"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRU"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MXV"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="SSP"/>
      <xs:enumeration value="STN"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="USN"/>
      <xs:enumeration value="UYI"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VES"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XAG"/>
      <xs:enumeration value="XAU"/>
      <xs:enumeration value="XBA"/>
      <xs:enumeration value="XBB"/>
      <xs:enumeration value="XBC"/>
      <xs:enumeration value="XBD"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPD"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="XPT"/>
      <xs:enumeration value="XSU"/>
      <xs:enumeration value="XTS"/>
      <xs:enumeration value="XUA"/>
      <xs:enumeration value="XXX"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attribute name="facetGroup"/>
  <xs:attribute name="activeFacet">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
</xs:schema>
